@font-face {
    font-family: 'OPTIBakerDanmarkOne';
    src: url(fuentes/OPTIBakerDanmarkOne.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    background-color: #EDE2DC;
    font-family: 'OPTIBakerDanmarkOne';
    font-weight: 100;
    overflow-x: hidden;
}
h1 {
    color: #343434;
    font-size: 22pt;
}
h2 {
    color: #343434;
    font-size: 17pt;
}
header {
    text-align: center;
}
header h1 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
header img {
    width: 414px;
    height: auto;
    display: block;
    margin-bottom: 2em;
}
.nombres {
    width: 90%;
    display: block;
    margin: 0 auto;
}
.separador {
    width: 50%;
    margin: 0 auto;
    margin-top: 4em;
}
#frase h2 {
    text-align: center;
    margin-top: 3em;
    line-height: 24pt;
}
#fecha h1 {
    margin-top: 1em;
    text-align: center;
    font-size: 20pt;
}
#calendario {
    margin-top: 2em;
    width: 100%;
}
#fecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cuadrado {
    margin-left: 10.5em;
}
.iconos {
    margin-top: 5em;
    margin-left: 10em;
    width: 15%;
}
#hora h1 {
    font-family: 'Luthon Southard Script';
    text-align: center;
    font-size: 40pt;
}
#hora img {
    margin-top: 3em;
}
#diez {
    margin-top: 0.5em;
    width: 100%;
}
#contieneiglesia{
    display: flex;
    flex-direction: column; /* Los elementos se apilan verticalmente */
    align-items: center; /* Centra horizontalmente */
    justify-content: center;
}
#iglesia h1 {
    margin-top: 1em;
    text-align: center;
    font-size: 20pt;
}
#iglesia h2 {
    margin-top: 1em;
    text-align: center;
    position: relative;
}
#iglesia a {
    position: absolute;
    top: 116em;
    text-decoration: none;
    color: #343434;
    background-color: #E2C89F;
    padding: 1em;
    border-radius: 20pt;
    text-align: center;
    justify-content: center;
    margin-top: 2em;
}
#contienefiesta {
    display: flex;
    flex-direction: column; /* Los elementos se apilan verticalmente */
    align-items: center; /* Centra horizontalmente */
    justify-content: center;
}
#fiesta h1 {
    margin-top: 13em;
    position: relative;
    text-align: center;
}
#fiesta h2 {
    margin-top: 0.5em;
    text-align: center;
    position: relative;
}
#fiesta img {
    position: absolute;
    top: 126em;
}
#fiesta a {
    position: absolute;
    top: 150em;
    text-decoration: none;
    color: #343434;
    background-color: #E2C89F;
    padding: 1em;
    border-radius: 20pt;
    text-align: center;
    justify-content: center;
}
#celebrar {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
}
#copa1 {
    margin-top: 7em;
    right: 148pt;
    transform: rotate(40deg);
}
#copa2 {
    margin-top: 7em;
    right: 98pt;
    transform: rotate(-40deg);
}
#cuenta h1 {
    margin-top: 6em;
    text-align: center;
}
table {
    margin-top: 3em;
}
#dresscode img {
    position: absolute;
    margin-top: 8vh;
}
#vestido {
    top: 184em;
    right: 155pt;
}
#traje {
    top: 184em;
    left: 30pt;
}
#formal {
    top: 174em;
    width: 100%;
}
#asistencia {
    display: flex;
    flex-direction: column; /* Los elementos se apilan verticalmente */
    align-items: center; /* Centra horizontalmente */
    justify-content: center;
}
#asistencia h1 {
    margin-top: 16em;
    text-align: center;
    position: relative;
}
#asistencia p {
    margin-top: 9em;
    text-align: center;
}
#asistencia a {
    position: absolute;
    top: 200em;
    text-decoration: none;
    color: #343434;
    background-color: #E2C89F;
    padding: 1em;
    border-radius: 20pt;
    text-align: center;
    justify-content: center;
}
#regalo h1 {
    margin-top: 1em;
    text-align: center;
    z-index: 9999px;
}
#regalo p {
    margin-top: 3em;
    text-align: center;
}
#present {
    margin-top: 5em;
}
#unregalo {
    width: 100%;
}
#ultima {
    margin-bottom: 2em;
}
#final h1 {
    margin-top: 4em;
    text-align: center;
    padding-bottom: 2em;
}
#final img {
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
}
#final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
